In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import re
import os
pd.set_option("display.max_columns", 200)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.read_csv(r"C:\Users\PC 2\Desktop\my_projects\project_2\data\inmuebles.csv", encoding="UTF-8")

In [3]:
df.shape

(100138, 13)

In [4]:
df.dtypes

Link             object
Sup. cubierta    object
Dormitorios      object
Antiguedad       object
Baños            object
Ambientes        object
Calle            object
Ubicacion        object
Precio           object
Estado           object
Antigüedad       object
Sup. terreno     object
Cocheras         object
dtype: object

In [5]:
df["Sup. cubierta"] = df["Sup. cubierta"].str.extract(r'(\d+)').astype(float)
df["Area_Cubierta_m2"] = df["Sup. cubierta"]

In [6]:
df["Area_Cubierta_m2"].value_counts().head()

Area_Cubierta_m2
100    2475
40     2355
60     2158
50     2044
200    2001
Name: count, dtype: int64

In [7]:
df['Dormitorios'].replace('Monoambiente', np.nan, inplace=True)

In [8]:
df["Dormitorios"] = df["Dormitorios"].str.extract(r'(\d)')

In [9]:
df["Dormitorios"].value_counts().head()

Dormitorios
2    29445
3    25845
1    22229
4    11120
5     2971
Name: count, dtype: int64

In [10]:
df['Antiguedad'].replace('A Estrenar', "0", inplace=True)

In [11]:
df["Antiguedad"] = df["Antiguedad"].str.extract(r'(\d)')

In [12]:
df["Antiguedad"].value_counts().head()

Antiguedad
0    10581
1     3674
4     2510
3     2398
2     2184
Name: count, dtype: int64

In [13]:
df["Baños"] = df["Baños"].str.extract(r'(\d)')

In [14]:
df['Baños'] = pd.to_numeric(df['Baños'])

In [15]:
df.loc[df['Baños'] > 10, 'Baños'] = np.nan

In [16]:
df["Baños"].value_counts()

Baños
1    46788
2    26354
3    11970
4     5018
5     1459
6      430
7      165
8       67
9       20
Name: count, dtype: int64

In [17]:
df['Ambientes'].replace('Monoambiente', "1 ambientes", inplace=True)

In [18]:
df['Ambientes'].replace('ambientes ambientes', np.nan, inplace=True)

In [19]:
df["Ambientes"] = df["Ambientes"].str.extract(r'(\d)')

In [20]:
df["Ambientes"].value_counts()

Ambientes
3    26547
4    21920
2    20721
5    11353
1     5816
6     4459
7     1648
8      685
9      241
Name: count, dtype: int64

In [21]:
df['Calle'].replace('Consultar dirección', np.nan, inplace=True)

In [22]:
df['Calle'] = df['Calle'].astype(str).apply(lambda x: x.title())

In [23]:
df["Calle"].value_counts().head()

Calle
Nan                7795
Almafuerte 3900     100
Santa Elena          89
San Sebastian        82
San Matias           81
Name: count, dtype: int64

In [24]:
df['Zona'] = df['Ubicacion'].str.split(',').str[-1].str.strip()

In [25]:
df['Zona'].value_counts()

Zona
G.B.A. Zona Norte        34457
G.B.A. Zona Oeste        24383
G.B.A. Zona Sur          20730
Costa Atlantica          10480
Interior Buenos Aires     2561
Name: count, dtype: int64

In [26]:
df['Ubicacion'] = df['Ubicacion'].astype(str)

In [27]:
df['Ubicacion'] = df.apply(lambda row: re.sub(r',\s*' + re.escape(str(row['Zona'])), '', row['Ubicacion']), axis=1)

In [28]:
df["Ubicacion"].isna().sum()

0

In [29]:
df['Ubicacion'].replace('nan', np.nan, inplace=True)

In [30]:
df["Ubicacion"].value_counts().head()

Ubicacion
La Plata                               2827
Ramos Mejia, La Matanza                2791
Ituzaingo                              2117
Villa Ballester, General San Martin    1956
San Miguel                             1832
Name: count, dtype: int64

In [31]:
df['Precio'].replace('Consultar precio', "0", inplace=True)

In [32]:
df['Precio'] = df['Precio'].replace('\\.', '', regex=True)

In [33]:
df["Precio"] = df["Precio"].str.extract(r'(\d+)')

In [34]:
df['Precio'] = pd.to_numeric(df["Precio"])

In [35]:
df.loc[df['Precio'] < 7000, 'Precio'] = np.nan

In [36]:
df['Precio'].value_counts().sort_index(ascending=False).head()

Precio
2147483647    1
882000000     1
712390694     1
685719910     1
640090000     2
Name: count, dtype: int64

In [37]:
df['Antigüedad'].replace('A Estrenar', "0", inplace=True)
df['Antigüedad'].replace('A estrenar', "0", inplace=True)

In [38]:
df["Antigüedad"] = df["Antigüedad"].str.extract(r'(\d+)')

In [39]:
df['Antigüedad'] = pd.to_numeric(df["Antigüedad"])

In [40]:
df.loc[df['Antigüedad'] > 500, 'Antigüedad'] = np.nan

In [41]:
df["Antigüedad"].value_counts().head()

Antigüedad
0     11766
30     3398
40     3270
20     3043
10     2462
Name: count, dtype: int64

In [42]:
df['Antiguedad'] = df['Antiguedad'].combine_first(df['Antigüedad'])

In [43]:
df["Antiguedad"] = pd.to_numeric(df["Antiguedad"])

In [44]:
df["Antiguedad"].value_counts().head()

Antiguedad
0     22347
1      4639
30     3398
5      3300
40     3270
Name: count, dtype: int64

In [45]:
df['Sup. terreno'].value_counts().head()

Sup. terreno
300  m² Terreno    1780
200  m² Terreno    1007
600  m² Terreno     834
800  m² Terreno     789
400  m² Terreno     746
Name: count, dtype: int64

In [46]:
df["Area_Terreno_m2"] = df["Sup. terreno"].str.extract(r'(\d+)').astype(float)

In [47]:
df.loc[df['Area_Terreno_m2'] < 10, 'Area_Terreno_m2'] = np.nan

In [48]:
df["Area_Terreno_m2"].value_counts().head()

Area_Terreno_m2
300    2186
200    1280
600    1005
400     936
800     906
Name: count, dtype: int64

In [49]:
df['Area_Cubierta_m2'].value_counts().head()

Area_Cubierta_m2
100    2475
40     2355
60     2158
50     2044
200    2001
Name: count, dtype: int64

In [50]:
df['Cocheras'] = df['Cocheras'].str.extract(r'(\d+)').astype(float)

In [51]:
df['Cocheras'] = pd.to_numeric(df['Cocheras'])

In [52]:
df.loc[df['Cocheras'] > 9, 'Cocheras'] = np.nan

In [53]:
df["Cocheras"].value_counts()

Cocheras
1    31613
2    13462
3     3109
4     1878
5      596
6      302
7      112
8       71
9       25
Name: count, dtype: int64

In [54]:
df.shape

(100138, 16)

In [55]:
df.columns

Index(['Link', 'Sup. cubierta', 'Dormitorios', 'Antiguedad', 'Baños',
       'Ambientes', 'Calle', 'Ubicacion', 'Precio', 'Estado', 'Antigüedad',
       'Sup. terreno', 'Cocheras', 'Area_Cubierta_m2', 'Zona',
       'Area_Terreno_m2'],
      dtype='object')

In [56]:
drop_columns = ['Sup. cubierta', 'Antigüedad', 'Sup. terreno']
df = df.drop(columns=drop_columns)

In [57]:
df.dtypes

Link                 object
Dormitorios          object
Antiguedad          float64
Baños               float64
Ambientes            object
Calle                object
Ubicacion            object
Precio              float64
Estado               object
Cocheras            float64
Area_Cubierta_m2    float64
Zona                 object
Area_Terreno_m2     float64
dtype: object

In [58]:
df['Dormitorios'] = df['Dormitorios'].fillna(pd.NA).astype('Int16')
df['Antiguedad'] = df['Antiguedad'].fillna(pd.NA).astype('Int16')
df['Baños'] = df['Baños'].fillna(pd.NA).astype('Int16')
df['Ambientes'] = df['Ambientes'].fillna(pd.NA).astype('Int16')
df['Precio'] = df['Precio'].fillna(pd.NA).astype('Int64')
df['Cocheras'] = df['Cocheras'].fillna(pd.NA).astype('Int16')
df['Area_Cubierta_m2'] = df['Area_Cubierta_m2'].fillna(pd.NA).astype('Int16')
df['Area_Terreno_m2'] = df['Area_Terreno_m2'].fillna(pd.NA).astype('Int16')
df['Estado'] = df['Estado'].fillna(pd.NA).astype('category')
df['Zona'] = df['Zona'].fillna(pd.NA).astype('category')

In [59]:
df = df[['Ambientes', 'Dormitorios', 'Baños', 'Cocheras', 'Area_Terreno_m2', 'Area_Cubierta_m2',
         'Antiguedad', 'Estado', 'Ubicacion', 'Calle', 'Zona', 'Precio', 'Link']]

In [60]:
df.dtypes

Ambientes              Int16
Dormitorios            Int16
Baños                  Int16
Cocheras               Int16
Area_Terreno_m2        Int16
Area_Cubierta_m2       Int16
Antiguedad             Int16
Estado              category
Ubicacion             object
Calle                 object
Zona                category
Precio                 Int64
Link                  object
dtype: object

In [61]:
df.to_csv(r'C:\Users\PC 2\Desktop\Inmuebles.csv', index=False)